$primary: #50b160;
$large-font: 4.5rem;
$title-font: 3.5rem;
$subtitle-font: 2.5rem;
$para-font: 1.5rem;
$back-color: rgb(21, 32, 43);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    background: rgb(0, 0, 0);
    color: white;
}

body {
    font-family: Roboto Slab, sans-serif;
    width: 90%;
    margin: auto;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 932px) {
    html {
        font-size: 45%;
    }
}